<div class="ml-5 sm:w-96">
  <div class="grid grid-cols-2 gap-2">
    <div class="font-bold">Nombre:</div>
    <div class="">
      {{ item?.name }}
    </div>

    <div class="font-bold">País:</div>
    <div class="">
      {{ item?.country }}
    </div>

    <div class="font-bold">Año creación:</div>
    <div class="">
      {{ item?.createYear }}
    </div>

    <div class="font-bold">Número empleados:</div>
    <div class="">
      {{ item?.employees }}
    </div>

    <div class="font-bold">Valoración:</div>
    <div class="">
      {{ item?.rating }}
    </div>
  </div>
  <div class="w-full h-px bg-gray-300 my-5"></div>
</div>
