<div class="sm:items-center flex flex-col">
  <div class="sm:w-1/4">
    <p class="mb-5 font-bold text-center">Título ( Artista)</p>
    <div class="overflow-hiden fade-in w-auto">
      <img
        src="./assets/no_image.jpg"
        class="img-fluid content-center"
        alt="Song poster"
        width="400"
        height="300"
      />

      <span class="text-gray-800 text-2xl">Género</span>
      <p class="text-black text-xl mb-3">Generos</p>
      <span class="text-gray-700 text-2xl">Compañía</span>
      <p class="text-black text-xl mb-3">Compañias</p>
      <span class="text-gray-800 text-2xl">País</span>
      <p class="text-black text-xl mb-3">País</p>
      <span class="text-gray-800 text-2xl">Año</span>
      <p class="text-black text-xl mb-3">1975</p>
      <span class="text-gray-800 text-2xl">Valoración</span>
      <p class="text-black text-xl mb-3">10.00</p>
    </div>
  </div>
</div>
