<div *ngIf="getState()">
  <!-- Background black -->
  <div
    class="fixed top-0 left-0 w-screen h-screen z-10 bg-black opacity-30"
  ></div>

  <!-- Blur -->
  <div
    class="fade-in fixed top-0 left-0 w-screen h-screen z-10 backdrop-filter backdrop-blur-sm"
  ></div>

  <!-- SideMenu -->
  <nav
    class="fixed p-5 left-0 top-0 w-[350px] h-screen bg-white z-20 shadow-2xl transform transition-all duration-300"
  >
    <div class="flex justify-between">
      <p text-2xl text-bold>Menu</p>
      <button
        (click)="closeSideMenu()"
        class="top-5 right-5 cursor-pointer text-right"
      >
        <i class="fa-sharp fa-solid fa-xmark"></i>
      </button>
    </div>

    <!-- Line separator -->
    <div class="w-full h-px bg-gray-600 my-5"></div>

    <!-- Menú -->
    <a
      href="dashboard"
      class="flex justify-between item-center mt-6 p-2 hover:bg-gray-100 rounded transition-all"
    >
      <p class="ml-3 text-xl">Canciones</p>
      <span class="text-right">
        <i class="fa-sharp fa-solid fa-arrow-right"></i>
      </span>
    </a>
    <!-- Line separator -->
    <div class="w-full h-px bg-gray-300 my-5"></div>
    <a
      href="newsong"
      class="flex justify-between item-center mt-6 p-2 hover:bg-gray-100 rounded transition-all"
    >
      <p class="ml-3 text-xl">Nueva canción</p>
      <span class="text-right">
        <i class="fa-sharp fa-solid fa-arrow-right"></i>
      </span>
    </a>
    <!-- Line separator -->
    <div class="w-full h-px bg-gray-300 my-5"></div>
    <a
      href="/artist"
      class="flex justify-between item-center mt-6 p-2 hover:bg-gray-100 rounded transition-all"
    >
      <p class="ml-3 text-xl">Artistas</p>
      <span class="text-right">
        <i class="fa-sharp fa-solid fa-arrow-right"></i>
      </span>
    </a>
    <!-- Line separator -->
    <div class="w-full h-px bg-gray-300 my-5"></div>
    <a
      href="/company"
      class="flex justify-between item-center mt-6 p-2 hover:bg-gray-100 rounded transition-all"
    >
      <p class="ml-3 text-xl">Companías discográficas</p>
      <span class="text-right">
        <i class="fa-sharp fa-solid fa-arrow-right"></i>
      </span>
    </a>
    <!-- Line separator -->
    <div class="w-full h-px bg-gray-300 my-5"></div>
  </nav>
</div>
